<h1>Listing groups</h1>

Search:
<% form_tag groups_path, :method => :get do %>
  <%= text_field_tag 'search_term' %>
	<%= submit_tag 'Search', :id => 'search' %>
<% end %>

<%= will_paginate @groups %>
<table>
  <tr>
    <th><%= column_sort_link("Name","groups_name") %></th>
		<th>Event</th>
		<th><%= column_sort_link("Location","locations_name") %></th>
  </tr>

<% for group in @groups %>
  <tr>
    <td><%= link_to group.name, group %></td>
		<td><%=h group.event_name %></td>
		<td><%=h group.location_name %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New group', new_group_path %>
